*{box-sizing: border-box;
    }


body {
    background-image: linear-gradient(-225deg, #DFFFCD 0%, #90F9C4 48%, #39F3BB 100%);
    
}

/* -------------------HEADER-------------------- */

.header {
    font-family: 'Dancing Script', cursive;
    font-size: 4em;
    justify-content: space-evenly;
    
    margin: auto;
    padding: auto;

    align-content: center;
    text-align: center;
    
}

/* -------------------HEADER-------------------- */


/* ------------------NAV--------------- */


.nav {
    background-color: #638c80;
    font-size: 15px;
    margin: 1em auto;
    padding: 1em auto;
    display: flex;
    justify-content: space-evenly;
    border-radius: 5px;

    box-shadow: 0 0.1rem 0.3rem black;
}


.nav-link {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    padding: 1em;
    margin: 1em;
    align-content: center;
    text-decoration: none;
    padding: 10px;
    background-color: beige;
    color: black;
    border-radius: 20px 5px 20px 5px;
    margin-right: 10px;
    cursor: pointer;
}

.nav-link:hover {
    
    color: white;
    border-radius: 5px 20px 5px 20px;
    transition: all 0.5s ease;
    background-color: #638c80;
    box-shadow: 0 0.1rem 0.4rem black;
}


/* ------------------NAV--------------- */

/* ------------------------SECTION------------------------- */





section {
    background-color: beige;
    margin: auto;
    padding: 1em;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: small;

    box-shadow: 0 0.1rem 0.4rem black;
    border-radius: 1em;

    
    justify-content: center;
}

.formulario {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    
    
    justify-content: space-between;
    
}

.campos {
    
    justify-content: space-between;
    margin: 1px;
    padding: 3px;
    border-radius: 0.3em;
}

.enviar {
    justify-content: space-between;
    margin-left: 1em;
    width: 6em;
    padding: 3px;
    border-radius: 0.3em;
    cursor: pointer;
}

.enviar:hover {
    transition: all 0.5s ease;
    background-color: rgba(184, 207, 53, 0.514);
}




/* ----------------------FOOTER-------------------- */


table {
    width: 100%;
    border-collapse: collapse;
}


th, td{
    border: solid 1px;
    padding: 3px;
}


th {
    background-color: #638c80;
    color: white;
    border-radius: 5px;
    
}


.links{
    
    padding: 1em;
    margin: 1em;
    display: flex;
    align-content: flex-end;
    justify-content: space-evenly;
    text-decoration: none;
    padding: 10px;
    background-color: beige;
    color: black;
    border-radius: 20px 5px 20px 5px;
    margin-right: 10px;
    cursor: pointer;
    transition: .3s ease all;
    border-style: solid;
    border-color: rgba(0, 0, 0, 0.486);
    
    border-width: 0.1em;
    
}


.links:hover{
    padding: 1.1em;
    margin: 1.1em;
    border-radius: 5px 20px 5px 20px;
    transition: all 0.5s ease;
    background-color: rgb(13, 82, 17);
    box-shadow: 0 0.1rem 0.4rem black;
}


.ul-footer{
    display: flex;
    align-content: flex-end;
    justify-content: center;
    
}