@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,500&display=swap');


* { 
    box-sizing: border-box;
    padding:  0px;
    margin: 0px;
    
    }


body {

    background-image: linear-gradient(-225deg, #DFFFCD 0%, #90F9C4 48%, #39F3BB 100%);
    background-size: 100vw 100vh;
    background-attachment: fixed;
    margin: 0%;



}


/* -------------------HEADER-------------------- */

.header {
    font-family: 'Dancing Script', cursive;
    font-size: 3em;
    justify-content: space-evenly;
    
    margin: auto;
    padding: auto;

    align-content: center;
    text-align: center;
    
    
}

/* -------------------HEADER-------------------- */


/* ------------------NAV--------------- */


.nav {

    background-color: #638c80;
    
    

    margin: 1em;
    padding: 0.25em;
    
    
    justify-content: space-evenly;
    border-radius: 5px;

    box-shadow: 0 0.1rem 0.3rem black;

    display: flex;
    flex-wrap: wrap;
    flex: 1;
    min-width: 250px;
    
    
    
    
}


.nav-link {

    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    padding: 1em;
    margin: 1em;
    
    text-decoration: none;
    
    background-color: beige;
    color: black;
    border-radius: 20px 5px 20px 5px;
    
    cursor: pointer;

    
}

.nav-link:hover {
    
    color: white;
    border-radius: 5px 20px 5px 20px;
    transition: all 0.5s ease;
    background-color: #638c80;
    box-shadow: 0 0.1rem 0.4rem black;
}


/* ------------------NAV--------------- */

/* ------------------------SECTION------------------------- */





section {

    display: flex;
    flex-wrap: wrap;
    flex: 1;
    min-width: 250px;
    background-color: beige;
    margin: 1em;
    padding: 1em;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: small;

    box-shadow: 0 0.1rem 0.4rem black;
    border-radius: 1em;
    align-content: center;

    
    
}
/* ---------------------- formulario ----------------------- */

/* .formulario {
    width: 450px;
    margin: auto;
    padding: 10px 20px;
    box-sizing: border-box;
    
    font-family: Arial, Helvetica, sans-serif;
    
}

.campos {
    border-radius: 0.3em;
}


.enviar {
    justify-content: space-between;
    padding: 20px;
    border-radius: 0.3em;
    cursor: pointer;
    font-weight: bold;
} */

.enviar:hover {
    transition: all 0.5s ease;
    background-color: rgba(184, 207, 53, 0.514);
}

input, textarea{
    width: 100%;
    margin-bottom: 20px;
    padding: 7px;
    box-sizing: border-box;
    font-size: 17px;
    
    
}

textarea{
    min-height: 100px;
    max-height: 200ox;
    
}


/* ---------------------- formulario----------------------- */



/* ----------------------FOOTER-------------------- */


table {
    width: 100%;
    border-collapse: collapse;
}


th, td{
    border: solid 1px;
    padding: 3px;
}


th {
    background-color: #638c80;
    color: white;
    border-radius: 5px;
    
}


.links{
    
    padding: 1em;
    margin: 1em;
    display: flex;
    align-content: flex-end;
    justify-content: space-evenly;
    text-decoration: none;
    padding: 10px;
    background-color: beige;
    color: black;
    border-radius: 20px 5px 20px 5px;
    
    cursor: pointer;
    transition: .3s ease all;
    border-style: solid;
    border-color: rgba(0, 0, 0, 0.486);
    
    border-width: 0.1em;

}


.links:hover{
    
    padding: 1%;
    border-radius: 5px 20px 5px 20px;
    transition: all 0.5s ease;
    background-color: rgb(13, 82, 17);
    box-shadow: 0 0.1rem 0.4rem black;

    align-content: center;
    
    
    
}


.ul-footer{
    display: flex;
    align-content: flex-end;
    justify-content: center;
    

    display: flex;
    flex-wrap: wrap;
    flex: 1;
    min-width: 250px;
    
}

@media (max-width: 480px) {
    form{
        width: 100%;
    }
}

@media only screen and (max-width: 767px) {

    body {
    
    background-image: url(/Desde-la-Raiz/Imagenes/fondo.jpg);

    }
}

/* ----------------------Slider-------------------- */

.listas{
    justify-content: center;
    align-content: center;
}



/* ----------------------prueba-------------------- */

#form {
    width: 300px;
    margin: 20vh auto 0 auto;
    padding: 20px;
    background-color: whitesmoke;
    border-radius: 4px;
    font-size: 12px;
}

#form h1 {
    color: #0f2027;
    text-align: center;
}

#form button {
    padding: 10px;
    margin-top: 10px;
    width: 100%;
    color: white;
    background-color: rgb(41, 57, 194);
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.input-control {
    display: flex;
    flex-direction: column;
}

.input-control input {
    border: 2px solid #f0f0f0;
	border-radius: 4px;
	display: block;
	font-size: 12px;
	padding: 10px;
	width: 100%;
}

.input-control input:focus {
    outline: 0;
}

.input-control.success input {
    border-color: #09c372;
}

.input-control.error input {
    border-color: #ff3860;
}

.input-control .error {
    color: #ff3860;
    font-size: 9px;
    height: 13px;
}